<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tu1</string>
		<key>address</key>
		<string>新罗区龙腾路681号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu2</string>
		<key>address</key>
		<string>新罗区陵园路82号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu3</string>
		<key>address</key>
		<string>新罗区南环中路2号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu4</string>
		<key>address</key>
		<string>新罗区登高中路28号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu5</string>
		<key>address</key>
		<string>新罗区龙腾北路1号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu6</string>
		<key>address</key>
		<string>龙岩大道与西陂路交叉口西南角</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu7</string>
		<key>address</key>
		<string>新罗区双龙路1号</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu8</string>
		<key>address</key>
		<string>新罗区龙腾中路美域中央</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu9</string>
		<key>address</key>
		<string>新罗区莲南路与曹溪路交汇旺角</string>
		<key>num</key>
		<string>54</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tu10</string>
		<key>address</key>
		<string>新罗区南城登高东路233号</string>
		<key>num</key>
		<string>54</string>
	</dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区曹溪北路与莲南路交叉口</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区解放北路15号</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区登高东路200号</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区凤凰路33号</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区人民西路</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区东兴路154号</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区登高路/闽西报社旁</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区中山小区</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区中山路二期</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区龙川北路虎岭巷67号</string>
        <key>num</key>
        <string>54</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>tu10</string>
        <key>address</key>
        <string>新罗区莲新北巷2号</string>
        <key>num</key>
        <string>54</string>
    </dict>
</array>
</plist>
